<h1>
  <span class="star">* * * *</span>

  <span class="letter l1">E</span>
  <span class="letter l2">D</span>
  <span class="letter l3">O</span>
  <span class="letter l4">U</span>
  <span class="letter l5">A</span>
  <span class="letter l6">R</span>
  <span class="letter l7">D</span>

  <span class="star">* * * *</span>
</h1>

<div class="gif">
  <%= image_tag image_path("happy_birthday.gif") %>
</div>