 @font-face {
   font-family: 'PartybyTom';
   src: assets-url('PartybyTom.TTF') format('truetype');
 }

 @font-face {
   font-family: 'lcr_party_dings';
   src: assets-url('LCR Party Dings.ttf') format('truetype');
 }